# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

# Maven Target directory
target

# IDE specific directories
.idea
.vscode
*.iml


# MacOS X bs
.DS_Store


outputs

# This is for Aidan, I use neovim and it will create eclipse Files
.classpath
.project
.settings/*

